@inherits LayoutComponentBase

<div class="wrapper">
    <Frontend_Webapp.Components.Sections.Header></Frontend_Webapp.Components.Sections.Header>
   
<main>
    @Body
</main>

<Frontend_Webapp.Components.Sections.Footer></Frontend_Webapp.Components.Sections.Footer>
</div>





<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
