@using Microsoft.AspNetCore.Identity
@using Frontend_Webapp.Data

@inject SignInManager<ApplicationUser> SignInManager

    <img class="profile-image" src="/images/images/uploads/profiles/avatar.png" alt="profile" />


    <nav>
        <NavLink class="btn-nav" href="Account/Manage" Match="NavLinkMatch.All">
            <i class="fa-regular fa-"></i>
            Account details
            </NavLink>
    <NavLink @onclick="HandleSignOut" class="btn-nav" href="/">
        Sign Out
        </NavLink>
    </nav>  
   
  
  


@code {
    private async Task HandleSignOut()
    {
        await SignInManager.SignOutAsync();
    }
}
