@inherits LayoutComponentBase
@layout AccountLayout

<section class="account-details">
    <div class="container">
        <aside>
            <Frontend-Webapp\Components\Sections\AccountProfileAvatar/>
            
            <ManageNavMenu/>
        </aside>
        <div class="content">
            @Body

        </div>
    </div>
</section>


@code{
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserDataAsync();

    }
    private async Task LoadUserDataAsync()
    {
        user = await UserManager.GetUserAsync(HttpContext.User) ?? null!;
    }
}
