@* <h3>Footer</h3>

@code {
   

}
 *@
 <style>
    

</style>
 <footer>
     <div class="container">
         <div class="social-media" name="footer-icons">
            <a class="btn btn-social"href="https://www.facebook.com"> <i class="fa-brands fa-facebook"></i> </a>
            <a class="btn btn-social" href="https://www.x.com"><i class="fa-brands fa-twitter"></i></a>
            <a class="btn btn-social" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a class="btn btn-social" href="https://youtube.com"><i class="fa-brands fa-youtube"></i></a>
         </div>    
         <div class="copyright">
            <p>© 2024 Silicon. All rights reserved. Pulvinar urna condimentum amet tempor, 
                ornare integer. Lorem odio justo malesuada suspendisse viverra aliquet quisque turpis non.
                Feugiat in odio non nunc ornare consectetur.</p>
         </div>
     </div>
 </footer>